<%- include('./layout/head.ejs') %>
    <link rel="stylesheet" href="/css/erreur.css">
</head>

<body>
    <%- include('./layout/navigation.ejs') %>
    <div id="erreur">
        <h1>Erreur 404</h1>
        <p>Aucune page n'existe pour cette url !</p>
        <iframe src="https://giphy.com/embed/a6OnFHzHgCU1O" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>

<%- include('./layout/end.ejs') %>