<%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="/css/shop/addProduct.css">
</head>

<body>
    <%- include('../layout/navigation.ejs') %>

    <main>
        <div class="container">
            <form method="POST" action="/shop/addProduct">
                <div class="form-title">
                    <h2>Add New Product</h3>
                </div>
                <div class="form-container">
                        <div id="name">
                            <label for="name"> Nom de l'article :</label>
                            <input name="name" type="text"/>
                        </div>
                        <div id="price">
                            <label for="price"> Prix :</label>
                            <span id="euro"><input name="price" type="text"/>€</span> 
                        </div>
                        <div id="desc">
                            <label for="desc"> Description :</label>
                            <input name="desc" type="text"/>
                        </div>
                        <div id="image">
                            <label for="image"> Image :</label>
                            <input name="image" type="text"/>
                        </div>
                        <button type="submit">Add New Product</button>
                </div>
            </form>
        </div>    
    </main>

<%- include('../layout/end.ejs') %>