<header class="main-header">
    <nav>
        <ul>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/shop/cart">Cart</a></li>
          <li><a href="/shop/addProduct">AddProduct</a></li>
          <li><a href="/auth/signin">Login</a></li>
        </ul>
      </nav>
</header>

